.chatBackground {
    /* background-color: radial-gradient(white, #d3eee3, #d3eee3); */
    background-image: url("/img/waves.png"), radial-gradient(white, #d3eee3, #d3eee3);
    background-size: cover;
    background-position: center;

    min-height: 500px;
    background-attachment: fixed;
    }
.main {
    margin:100px
}

