h2 {
    font-family: lemon;
    color: #025159;
}

.loginBtn {
    background-color: #F25D27!important;
    font-family: lemon
    
}

.howToRow {
    margin: 200px;
}

.login{ 
    margin:200px;
}

.downArrow{
    margin-top:350px;
}