.navbar {
    background: #025159;
    height: 75px;
    }

.navIcon {
    color: #D4EEE3;
}

#mobile-nav{
    background: #03A696;
    color:#D4EEE3
}

.addItem{
    color: #F28705;
}

.profile{
    color: #F25D27;
}

.swapIcon{
    color: #F20505;
}
